EXPO_PUBLIC_SUPABASE_URL=https://ycrqobutgyvxtpsxexne.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InljcnFvYnV0Z3l2eHRwc3hleG5lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NjA4MjIsImV4cCI6MjA5NDIzNjgyMn0._t0wXbA-Q0RaixWVc9WrpImP1NzTZVAjVeqd0mce60g
